<div class="card">
    <div class="cover">
        <img src="assets/images/rotating_card_thumb2.png">
    </div>
    <div class="user">
        <img class="img-circle" src="assets/images/{{personne?.path | defaultImage }}">
    </div>
    <div class="content">
        <div class="main">
            <h3 class="name">{{personne?.name | titlecase }} {{personne?.firstname | titlecase}}</h3>
            <p class="age">{{personne?.age}} ans</p>
            <p class="profession">{{personne?.job | titlecase}}</p>
        </div>
    </div>

    <div class="button-bar">
        <button class="btn btn-danger" (click)="deletePersonne()">Supprimer</button>
    </div>
</div>
